.userForm {
    position: relative;
    
    background-color: wheat;

}

.cardForm {
  padding: 30px;
  margin: 60px;
}


.closeWindow {
    position: absolute;
    right: 21px;
    top: 13px;
}

.blogBody {
    padding: 50px;
    background-image: url(../../Images/palm-leaf.png);
    height: 100vh;
}