.userForm {
    position: relative;
    padding: 50px;
    margin: 40px;
    background-color: wheat;

}

.closeWindow {
    position: absolute;
    right: 21px;
    top: 13px;
}

.blogBody {
    background-image: url(../../Images/palm-leaf.png);
}