.App {
  text-align: center;
}

.york{
  color: white;
  background-color: #253290;
  position: absolute;
  margin: 0 0 58px;
  padding: 0 8px 0 0;
  bottom: 37em;
  right: 80em;
  top: 5em;

}

.navlinks, a {
  display: inline-block;
  color: white;
  font-size: 15px;
  padding: 6px;
  
}

.navBackground {
  background-color: gray;
  padding: 10px 7px 20px 0;
}

.searchForm {
  float: right;
  padding-top: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

.searchBtn {
  background-color: blue;
  color: white;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
